/* Styling global pour le site */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header - logo et navigation */
header {
    background-color: #240273;
    color: white;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 70px;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* Section principale - Hero */
.hero {
    text-align: center;
    padding: 100px 20px;
    *background: url() no-repeat center center/cover;
    color: #ff7912;
}

main {
    background-image: url('assets/images/hero-background.jpg');
    
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #28a745;
}

.cta-btn {
    background-color: #28a745;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 5px;
}

.cta-btn:hover {
    background-color: #218838;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
